<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.stylingandroid.matchtimer">

  <uses-feature android:name="android.hardware.type.watch" />

  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application
    android:allowBackup="false"
    android:fullBackupContent="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

    <uses-library
      android:name="com.google.android.wearable"
      android:required="false" />

    <meta-data
      android:name="com.google.android.wearable.standalone"
      android:value="true" />

    <activity
      android:name=".MatchTimerActivity"
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:theme="@style/AppTheme"
      tools:replace="android:theme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="com.stylingandroid.matchtimer.UI_UPDATE" />
        <action android:name="com.stylingandroid.matchtimer.ALERT_ELAPSED" />
        <action android:name="com.stylingandroid.matchtimer.ALERT_PLAYED" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
  </application>
</manifest>
